body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }


        .container {
            margin: auto;
            overflow-x: hidden;
        }

        /* 🔥 User Card */
        .card {
            background: #9195a8;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card h2 {
            margin-bottom: 10px;
        }

        .user-info p {
            margin: 5px 0;
            font-size: 16px;
        }

        .user-info i {
            margin-right: 8px;
            color: #555;
        }

        /* 🔥 Table */
        table {
            width: 100%;
            border-collapse: collapse;
            background: #bcb9b9c9;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        th,
        td {
            padding: 12px;
            text-align: left;
        }

        th {
            background: #111;
            color: #fff;
        }

        tr:nth-child(even) {
            background: #3B82F6;
        }

        tr:hover {
            background: #8c9aea;
        }

        /* 🔥 Icons styling */
        .icon {
            margin-right: 6px;
            color: #666;
        }

        /* 🔥 Badge */
        .badge {
            padding: 4px 8px;
            border-radius: 6px;
            font-size: 12px;
            background: #e0f7e9;
            color: #0a8f4c;
            margin-left: 5px;
        }

        table {
            width: 100%;
        }

        /* Hide scrollbar but keep scroll working */
        .scrollbar-hide {
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }

        .table-wrapper {
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .table-wrapper::-webkit-scrollbar {
            display: none;
        }
        .margin{
            margin-top: 70px !important;
        }